table, th, td {
  border: 1px solid white;
  font-size: 150%;
  onclick="clickedRow()"
}

#txtl {
  color: white;
  align: left;
}

#txtc {
  color: white;
  align: center;
}

td:hover {background-color: yellow;}
