table, th, td {
  border: 1px solid white;
  font-size: 125%;
  text-align:center;
}
@font-face { 
  font-family: schlop; src: url('schlop rg.ttf'); 
} 

#txtl {
  color: white;
  align: left;
}

#txtc {
  color: white;
  align: center;
}

//this creates a class called "center" that I can apply to things to center them
.center {
  margin-left: auto;
  margin-right: auto;
}


td:hover {background-color: yellow;}
