table, th, td {
  border: 1px solid white;
  font-size: 125%;
  align: center;
}

@font-face { 
  font-family: schlop; src: url('schlop rg.ttf'); 
} 

#txtl {
  color: white;
  align: left;
}

#txtc {
  color: white;
  align: center;
}

td:hover {background-color: yellow;}
